# Autoreconf stage files:
/autom4te.cache

# Configure stage files:
*.F90.d
*.pyc
*.pyo
.dirstamp
/Makefile
/config.log
/config.status
/examples/**/*.test
__pycache__

# Build stage files:
*.a
*.o
/examples/all-sky/rrtmgp_allsky
/examples/rfmip-clear-sky/rrtmgp_rfmip_lw
/examples/rfmip-clear-sky/rrtmgp_rfmip_sw
/mod/*

# Test stage files:
/examples/**/*.test.log
/examples/all-sky/ref/rrtmgp-allsky.nc
/examples/rfmip-clear-sky/**/*_Efx_RTE-RRTMGP-181204_rad-irf_r1i1p1f1_gn.nc
/examples/rfmip-clear-sky/generate-output-file-templates.py
/examples/rfmip-clear-sky/multiple_input4MIPs_radiation_RFMIP_UColorado-RFMIP-1-2_none.nc
/examples/rfmip-clear-sky/timing.*
examples/all-sky/rrtmgp-allsky.nc~

# Dist stage files:
/rte+rrtmgp-*.tar*

# MacOS files:
*.dSYM
.DS_Store

# Original .gitignore:

# Module files
*.mod

# Libraries
*.a

# Object files
*.o

# Intel vectorization reports
*.optrpt

# Don't commit specific Makefile variants
Makefile.libs
Makefile.conf

src/
