# Autoreconf stage files:
/autom4te.cache

# Configure stage files:
*.F90.d
*.pyc
*.pyo
.dirstamp
/**/examples/**/*.test
/**/tests/**/*.test
Makefile
__pycache__
config.cache
config.log
config.status

# Build stage files:
*.L
*.a
*.acc.s
*.o
/**/examples/all-sky/rrtmgp_allsky
/**/examples/rfmip-clear-sky/rrtmgp_rfmip_lw
/**/examples/rfmip-clear-sky/rrtmgp_rfmip_sw
/**/mod/*

# Test stage files:
/**/.testcache/*
/**/examples/**/*.nc
/**/examples/**/*.test.log
/**/tests/*.nc
/**/tests/*.pdf
/**/tests/*.test.log
/**/tests/check_equivalence
/**/tests/check_variants
/**/tests/test_zenith_angle_spherical_correction

# Dist stage files:
/**/rte+rrtmgp-*.tar*

# MacOS files:
*.dSYM
.DS_Store
