ci:
  autofix_prs: false
  autoupdate_branch: main

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.10
    hooks:
      - id: actionlint
  - repo: https://github.com/cheshirekow/cmake-format-precommit
    rev: v0.6.13
    hooks:
      - id: cmake-format
      - id: cmake-format
        name: cmake-format (templates)
        types: [file]
        files: \.cmake\.in$
      - id: cmake-lint
      - id: cmake-lint
        name: cmake-lint (templates)
        types: [file]
        files: \.cmake\.in$
  - repo: https://github.com/pycqa/isort
    rev: 7.0.0
    hooks:
      - id: isort
  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 26.1.0
    hooks:
      - id: black
  - repo: https://github.com/csachs/pyproject-flake8
    rev: v7.0.0
    hooks:
      - id: pyproject-flake8
  - repo: https://github.com/executablebooks/mdformat
    rev: 1.0.0  # Use the ref you want to point at
    hooks:
    - id: mdformat
      # Optionally add plugins
      additional_dependencies:
      - mdformat-myst>=0.3.0
      - mdformat-black
      - mdformat-config
      - mdformat-gfm
      - mdformat-web
