name: Check Fortran API
on:
  push:
    branches:
    - main
  pull_request:
  workflow_dispatch:


jobs:
  API:
    runs-on: ubuntu-22.04
    env:
      FC: gfortran-12
      FFLAGS: "-m64 -std=f2008 -march=native -fbounds-check -fmodule-private -fimplicit-none -finit-real=nan"
      RTE_KERNELS: extern
      CMAKE_BUILD_PARALLEL_LEVEL: 8
      VERBOSE:
    steps:
    #
    # Check out repository under $GITHUB_WORKSPACE
    #
    - name: Check out code
      uses: actions/checkout@v4
    #
    # Build libraries
    #
    - name: Build libraries
      run: |
        $FC --version
        cmake -S . -B build \
         -DCMAKE_BUILD_TYPE=RelWithDebInfo \
         -DRTE_KERNEL_MODE="$RTE_KERNELS"
        cmake --build build
