name: Continuous integration in a box
on:
  push:
    branches:
    - main
    - develop
  pull_request:
    branches-ignore:
    - documentation
  workflow_dispatch:

jobs:
  Containerized-CI:
    runs-on: ubuntu-22.04
    strategy:
      fail-fast: false
      matrix:
        fortran-compiler: [ifort, ifx, nvfortran]
        rte-kernels: [default, accel]
        fpmodel: [DP, SP]
        include:
        # Set flags for Intel Fortran Compiler Classic
        - fortran-compiler: ifort
          fcflags: -m64 -g -traceback -heap-arrays -assume realloc_lhs -extend-source 132 -check bounds,uninit,pointers,stack -stand f08 -diag-disable=10448
        # Set flags for Intel Fortran Compiler
        - fortran-compiler: ifx
          rte-kernels: default
          fcflags: -debug -traceback -O0 -heap-arrays -assume realloc_lhs -extend-source 132 -stand f08
        - fortran-compiler: ifx
          rte-kernels: accel
          fcflags: -debug -traceback -O0 -heap-arrays -assume realloc_lhs -extend-source 132 -stand f08 -fiopenmp -fopenmp-targets=spir64
        # Set flags for NVIDIA Fortran compiler
        - fortran-compiler: nvfortran
          rte-kernels: default
          fcflags: -Mallocatable=03 -Mstandard -Mbounds -Mchkptr -Kieee -Mchkstk
        - fortran-compiler: nvfortran
          rte-kernels: accel
          fcflags: -Mallocatable=03 -Mstandard -Mbounds -Mchkptr -Kieee -Mchkstk -acc
        # Set container images
        - fortran-compiler: ifort
          image: ghcr.io/earth-system-radiation/rte-rrtmgp-ci:oneapi
        - fortran-compiler: ifx
          image: ghcr.io/earth-system-radiation/rte-rrtmgp-ci:oneapi
        - fortran-compiler: nvfortran
          image: ghcr.io/earth-system-radiation/rte-rrtmgp-ci:nvhpc
    container:
      image: ${{ matrix.image }}
    env:
      # Core variables:
      FC: ${{ matrix.fortran-compiler }}
      FCFLAGS: ${{ matrix.fcflags }} -DRTE_USE_${{ matrix.fpmodel}}
      # Make variables:
      NFHOME: /opt/netcdf-fortran
      RRTMGP_ROOT: ${{ github.workspace }}
      RRTMGP_DATA: ${{ github.workspace }}/rrtmgp-data
      RTE_KERNELS: ${{ matrix.rte-kernels }}
      RUN_CMD:
      # https://github.com/earth-system-radiation/rte-rrtmgp/issues/194
      OMP_TARGET_OFFLOAD: DISABLED
      FAILURE_THRESHOLD: 7.e-4

    steps:
    #
    # Checks-out repository under $GITHUB_WORKSPACE
    #
    - uses: actions/checkout@v4
    #
    # Check out data
    #
    - name: Check out data
      uses: actions/checkout@v4
      with:
        repository: earth-system-radiation/rrtmgp-data
        path: rrtmgp-data
        ref: v1.8.2
    #
    # Build libraries, examples and tests (expect success)
    #
    - name: Build libraries, examples and tests (expect success)
      id: build-success
      if: matrix.fortran-compiler != 'ifx' || matrix.rte-kernels != 'accel'
      run: |
        $FC --version
        make -j4 libs
    #
    # Build libraries, examples and tests (expect failure)
    #
    - name: Build libraries, examples and tests (expect failure)
      if: steps.build-success.outcome == 'skipped'
      shell: bash
      run: |
        $FC --version
        make -j4 libs 2> >(tee make.err >&2) && {
          echo "Unexpected success"
          exit 1
        } || {
          grep make.err -e 'Internal compiler error' && {
            echo "Expected failure"
          } || {
            echo "Unexpected failure"
            exit 1
          }
        }
    #
    # Run examples and tests
    #
    - name: Run examples and tests
      if: steps.build-success.outcome != 'skipped'
      run: make -j4 tests
    #
    # Relax failure thresholds for single precision
    #
    - name: Relax failure threshold for single precision
      if: matrix.fpmodel == 'SP' && steps.build-success.outcome != 'skipped'
      run: echo "FAILURE_THRESHOLD=3.5e-1" >> $GITHUB_ENV
    #
    # Compare the results
    #
    - name: Compare the results
      if: steps.build-success.outcome != 'skipped'
      run: make -j4 check
    #
    # Generate validation plots
    #
    - name: Generate validation plots
      if: matrix.fortran-compiler == 'ifort' && matrix.rte-kernels == 'default' && matrix.fpmodel == 'DP'
      working-directory: tests
      run: python validation-plots.py
    #
    # Upload validation plots
    #
    - name: Upload validation plots
      if: matrix.fortran-compiler == 'ifort' && matrix.rte-kernels == 'default' && matrix.fpmodel == 'DP'
      uses: actions/upload-artifact@v4
      with:
        name: valdiation-plot
        path: tests/validation-figures.pdf
